<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   AppCenter-Config.plist
   CICDEXAMPLE

   Created by Saad Elsabahy on 27/12/2021.
   Copyright (c) 2021 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
  <dict>
     <key>AppSecret</key>
     <string>4726ee14-c1ed-4c4b-9f86-9ce94a4b4f05</string>
     </dict>
</plist>
